* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Roboto-thin;
    src: url(./font/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(./font/Roboto-Light.ttf);
}

#background {
    background-color: #B3AFAF;
    width: 100%;
    height: 100%;
}
#warning {
    width: 100%;
    display: flex;
}

#image-warning {
    background: url(./img/12+.png);
    background-size: cover;
    margin: 0px 5px;
}

#warning h5 {
    font-family: Roboto-light;
}

#home {
    width: 640px;
    height: 110%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    position: relative;
    top: 2%;
    background-color: #FFAF4C;
}

#logo {
    background: url(./img/logoW.png);
    cursor: pointer;
}

#title > li {
    display: inline-block;
    background-color: #924C31;
    color: white;
    font-family: Roboto-light;
    cursor: pointer;
}

#title > li:hover {
    text-decoration-line: underline;
}

#part5 {
    background: #ff5601;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    position: relative;
    width: 60%;
    padding: 10px 0px;
    font-size: 10px;
}

.title {
    font-size: 17px;
    font-family: Roboto-light;
    color: #E73D00;
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #B98A51 ;
}

.infomation {
    font-family: Roboto-thin;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 5px;
}

.infomation1 {
    font-family: Roboto-light;
    font-size: 14px;
    margin-left: 5px;
}

#dowload {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFAF4C;
}

.icon {
    width: 78px;
    height: 35px;
    cursor: pointer;
    position: relative;
    bottom: 15px;
    display: flex;
    justify-content: center;
    margin: 0px 5px;
}

#java {
    background: url(./img/jar.png) no-repeat; 
    background-size: cover;
}
#pc {
    background: url(./img/pc.png) no-repeat; 
    background-size: cover;
}
#napngoc {
    background: url(./img/napngoc.png) no-repeat; 
    background-size: cover;
    flex-direction: column;
}
#iphone {
    background: url(./img/ip.png) no-repeat; 
    background-size: cover;
}
#ggplay {
    background: url(./img/play.png) no-repeat; 
    background-size: cover;
}
#apk {
    background: url(./img/android.png) no-repeat; 
    background-size: cover;
    flex-direction: column;
}

#apk > .number {
    margin-left: 30px;
}

#apk > h4 {
    position: relative;
    top: 34px;
}

.number {
    font-family: Roboto-light;
    font-size: 11px;
    position: relative;
    top: 38px;
    color: #D1323F;
}

.version {
    font-family: Roboto-light;
    font-size: 11px;
    position: relative;
    top: 38px;
    color: #bb5719;
    cursor: pointer;
}

@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 600px) {
    #home {
        margin-top: 3px;
    }
    #warning h5 {
        font-size: 9px;
    }
    #image-warning {
        width: 13px;
        height: 13px;
    }
    #logo {
        width: 250px;
        height: 110px;
        margin-bottom: 5px;
    }
    #title > li {
        font-size: 13px;
        padding: 2px 20px;
    }
}
